{% extends "./layouts/base.html.twig" %}
{% block content %}
    <div id="tabs"
         hx-get="/tabs/{{ tab }}"
         hx-trigger="load"
         hx-replace-url="true"
         hx-target="#tabs"
         hx-swap="innerHTML"></div>
{% endblock %}
