<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://unpkg.com/htmx.org@1.9.10"
                integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
                crossorigin="anonymous"></script>
        <link href="../../public/css/styles.css" rel="stylesheet" />
    </head>
    <body class="bg-white dark:bg-slate-800 dark:text-sky-100">
        <nav class="relative h-16 inset-x-0 top-0">
            {% block nav %}
                {% include('./partials/nav.html.twig') %}
            {% endblock %}
        </nav>
        <main class="container mx-auto">
            {% block content %}{% endblock %}
        </main>
        <footer class="absolute h-16 inset-x-0 bottom-0">
            {% block footer %}
                {% include('./partials/footer.html.twig') %}
            {% endblock %}
        </footer>
    </body>
</html>
